@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
html {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #111827;
}

h1, h2, h3 {
  color: rgb(147 51 234);
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 25px;
  line-height: 10px;
  margin-bottom: 30px;
}


.container {
  width: 500px;
  margin: 0 auto;
}

.card {
  text-align: center;
  background-color: #1F2937;
  padding: 20px;
  border-radius: 30px;
  margin-top: 10px;
}

p {
  color: white
}

img {
  border-radius: 100%;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 10px;
}

p {
  margin: 30px;
}

.button {
  margin-bottom: 20px;
  padding: 15px 20px;
  background-color: rgb(147 51 234);
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.button:hover {
  background-color: rgb(126 34 206);
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
  .list-inline > li {
    display: inline-block;
    padding: 22px 10px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
  .list-inline > li {
    display: inline-block;
    padding: 22px 10px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }

  .list-inline > li {
    display: inline-block;
    padding: 22px 10px;
  }
}
